:root {
  --std-pink: #D05B97;
  --std-blue: #100A1D;
  --std-white: #FFF;
}

* {
  padding: 0;
  margin: 0;
}

#mainWrapper {}

main {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  margin: 2vh 0 1.5vh 0;
  text-align: center;
  background-color: orange;
}

body {
  background-color: var(--std-blue);
  color: var(--std-white);
  font-family: 'montserrat', tahoma, verdana, sans-serif;
}

canvas {
  background: #fafafa;
  margin-bottom: 1.5vh;
}

#controls {
  margin-left: 1rem;
}

#controls p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#controlSliders {
  width: 50%;
  float: left;
}

#controlCheckboxes {
  width: 50%;
  float: left;
}

#credits {
  width: 100%;
  clear: left;
  margin-left: 1em;
}

#volumeLabel {
  margin-left: 1rem;
}

section {
  margin-bottom: 1rem;
}

#playButton {
  font-size: 1.2rem;
  width: 6rem;
}

button[data-playing="yes"]:after {
  content: "Pause";
}

button[data-playing="no"]:after {
  content: "Play";
}

#fsButton {
  font-size: 1.2rem;
  width: 8rem;
}