/* Creating all of the variables we're using later in the project */
:root {
    --std-pink: #D05B97;
    --std-blue: #100A1D;
    --std-offwhite: #FFE9FF;


    --grad-pink-std: #F431B2;
    --grad-blue-std: #532AC8;

    --btn-std-gradient: linear-gradient(to right, #ffe9ff, #D594E5);
    --btn-hover-gradient: linear-gradient(to right, rgb(241, 204, 241), rgb(171, 85, 192));
    --btn-active-gradient: linear-gradient(to right, rgb(197, 125, 197), rgb(153, 59, 177));

    --link-hover: rgb(245, 184, 245);
    --link-active: rgb(228, 130, 228);
    --link-visited: rgb(212, 174, 255);
    --std-white: #FFF;
}

/* Importing locally hosted font */
@font-face {
    font-family: "Streamster";
    src: url("../fonts/Streamster.ttf");
}
@font-face {
    font-family: "Alien";
    src: url("../fonts/SFAlienEncounters.ttf");
} 
@font-face {
    font-family: "Virus";
    src: url("../fonts/Virus_01.ttf");
} 

* {
    padding: 0;
    margin: 0;
}

#mainWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px;
    padding: 8px 10px 8px 8px;
    background-image: linear-gradient( to bottom right, var(--grad-pink-std), var(--grad-blue-std))
}

#titleCanvasWrapper h1 {
    padding: 2vh 0 1.5vh 0;
    text-align: center;
    font-weight: 500;

    border-radius: 16px 16px 0 0;
    font-family: "Streamster";
    letter-spacing: 5px;
    
}

body {
    background-color: var(--std-blue);
    color: var(--std-white);
    font-family: 'montserrat', tahoma, verdana, sans-serif;
}

#trackButtons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

#trackContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

#trackSelect{
    border: none;
    flex: 1;
    margin-left: 16px;
    background-image: var(--btn-std-gradient);
    background-color: var(--std-offwhite);
    min-width: 215px;
}

#trackSelect:hover{
    cursor: pointer;
}

button {
    background-image: var(--btn-std-gradient);
    border: none;
    padding: 8px;
    border-radius: 4px;
    width: 49%;

    font-family: "Alien";
    display: flex;
    justify-content: center;
}

button:hover {
    background-image: var(--btn-hover-gradient);
    cursor: pointer;
}

button:active {
    background-image: var(--btn-active-gradient);
    cursor: pointer;
}

canvas {
    background: #fafafa;
    border-radius: 8px;
}

#controls {
    display: inline-flex;
    flex-direction: column;
    margin: 9% 0 0 16px;
}

.slider{
    display: flex;
    width: 85%;
}

.sliderContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 4px;
}

#controls p {
    margin-top: 0px;
    margin-bottom: 0px;
}

label{
    margin-left: 8px;
}

#credits {
    width: 100%;
    text-align: center;
    border-radius: 0 0 16px 16px;
    padding: 1vh 0;
    letter-spacing: 3px;
    color: var(--std-offwhite);
}

p a{
    color: var(--std-offwhite);
}

p a:hover{
    color: var(--link-hover);
}

p a:active{
    color: var(--link-active);
}

p a:visited{
    color: var(--link-visited);
}

#credits h2{
    font-family: "Streamster";

}

section {
    margin-bottom: 1rem;
}

#playButton {
    font-size: 1.2rem;
}

button[data-playing="yes"]:after {
    content: "Pause";
}

button[data-playing="no"]:after {
    content: "Play";
}

#fsButton {
    font-size: 1.2rem;
}